
body {
    background-color: #608FAC;
    font-family: system-ui;
    font-size: 1.2em;
    color: #F6B045;
}

section {
    text-align: left;
}
#education .school {
    margin-left: 0.5em;
}
#education .program {
    margin-left: 0.33em;
}
#education p {
    margin-left: 0.33em;
}
#experience .employer {
    margin-left: 0.5em;
}
#experience .job {
    margin-left: 0.33em;
}
#experience p {
    margin-left: 0.33em;
}