
body {
    background-color: white;
    font-family: system-ui;
    font-size: 1.2em;
    color: black;
}
h1, h2, h3, h4 {
    margin: 0 0 0 0;
    text-shadow: 1px 1px 2px gray;
}
h1 {
    font-size: 3em;
    font-weight: bold;
}
h2 {
    font-size: 2em;
    text-decoration: underline;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
section {
    text-align: left;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 1em 0;
    padding: 0;
}
/* Education */
#education .school {
    margin-left: 0.75em;
    padding-top: 0.25em;
}
#education .program {
    margin-left: 1.25em;
    padding-top: 0.25em;
}
#education .name, #education .location {
    display: block;
}
#education .location p, #education .dates p {
    font-style: italic;
    margin: 0 0 .25em 0;
}
#education .name h3 {
    margin: 0 0 0 0;
}

/* Coursework */
#coursework ul{
    margin-left: 0.5em;
}

/* Experience */
#experience .employer {
    margin-left: 0.75em;
    padding-top: 0.25em;
}
#experience .job {
    margin-left: 1.25em;
    padding-top: 0.25em;
}
#experience .location p, .job .dates p {
    font-style: italic;
    margin: 0 0 .25em 0;
}
#experience .description p {
    font-weight: bold;
    margin: 0 0 0.25em 0;
}
#experience .job ul {
    font-style: italic;
}
/* Skills */
#skills p {
    margin-left: 1.0em;
    font-style: italic;
}

/* Activities */
#activities ul {
    font-style: italic;
}
